# Analise Exploratoria dos Dados

### Pacotes Usados

In [ ]:
import numpy as np
import pandas as pd

#### Carregamento
Para carregar os dados foi verificado que ele tinha a separação pelo caracter tab, usando a codificação UTF-16 LE, para analise de dados foi optado realizar um merge entre as bases

In [ ]:
!git clone
!git clone

In [ ]:
cars_test:pd.DataFrame = pd.read_csv('cars_test.csv',encoding='UTF-16LE', sep='\t')
cars_train:pd.DataFrame = pd.read_csv('cars_train.csv',encoding='UTF-16LE', sep='\t')
merge_train_test = pd.concat([cars_test, cars_train], ignore_index=True)

### Analise

In [ ]:
merge_train_test.head()

In [ ]:
merge_train_test.info()

- No dataframe de Teste temos 1.9 de Mega Bytes,

In [ ]:
merge_train_test.describe()

- Neste dataset existe 39209 numero de fotos, 0 veiculo alienado, 39446 anos de fabricação, ano de modelo e hodometro
- O valor maximo de ano de fabricação é de 2022 e de modelo é 2023, numero de portas é de 4, com preço
- O valor minimo de fabricação é de 1985, modelo é 1997, numero de portas 2, com preço de
- 25% dos carros têm 8 fotos, têm o ano de modelo de 2015 e fabrica de 2016, com 31235 de km rodados, com 4 portas no preço de
- 50% dos carros têm em torno de 8 fotos também, o ano de fabricão é 2018, ano de modelo 2018, com 57244 de kilometros rodados, com 4 portas
- 75% dos carros têm em torno de 8 fotos também, o ano de fabricão é 2018, ano de modelo 2018, com 57244 de kilometros rodados, com 4 portas
- A Media dos dados são de  10 numero de fotos, 2016 e 2017 é o ano de fabricação e de modelo médio da maioria dos carros
- O Desvio padão dos dçao no ano de modelo é 4 e de fabricaçaõ 2, com número de portas

In [ ]:
pd.unique(merge_train_test.query("preco <= 50000")["versao"])

- O tipo de carro picape é mais vendido em são paulo, em comparação aos outros estados, sendo 2585 carros

In [ ]:
merge_train_test.query("preco <= 50000")["versao"]